#container{
    width:980px;
    margin:auto; 
    height:auto;  
    overflow:auto;
    background-color: #f4f0ef;
}

.box {
    margin: 0 auto; width: 960px;
    height: 400px;
    background-color: #FFFFFF;
}

.bigLetters {
	font-size: 300%;
}
